body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

/* *{
  outline: 2px red solid;
} */

/*追従ボタン*/
.fix-btn_pc{
  display: block !important;
  position:fixed;
  z-index:9999;
  top:37%;
  right:0px;
}

.fix-btn_sp{
  display: none !important;
}

 /* ヘッダー */
header {
  top: 0;
  width: 100%;
}

.kv{
  width: 100%;
  height: 841px;
  background-image: url("../img/Group 183.png");
  background-position: center;
  background-size: cover;


}

.header_logo{
  margin-left: 40.59px;
  padding-top: 13px;
}

.header_text{
  text-align: center;
  color: #FFFFFF;
}

.header_title{
  padding-top: 7.565px;
  margin-left: -5px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}


.header_img{
  display: block !important;
  padding-top: 21px;
  max-width: 562px;
  margin:0 auto;
}

.header_img_main{
  display: none !important;
}

.header_img_sub{
  display: none !important;
}

.header_time{
  margin: 0;
  margin-left: -5px;
  padding-top: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
}

.week{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  font-style: italic;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}

.time{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  font-style: italic;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
}

.header_place{
  margin: 0;
  padding-top: 16px;
  font-size: 29px;
  font-weight: 700;
  line-height: 29.25px;
  letter-spacing: 0em;
}

.header_place span{
  font-size: 13px;
}

.header_btn{
  padding-top: 43px;
  text-align: center;
}



/* タイトル */
.title_main{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 59.5px;
  font-style: italic;
  font-weight: 600;
  line-height: 59.5px;
  letter-spacing: 0em;
  color: #81D7FC;
}

.overview_title_main{
  margin: 0;
  padding-top: 38px;
  margin-left: -7.5px;
}

/* サブタイトル */
.title_sub{
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: #444545;
}

.title_sub p{
  margin: 0;
}


/* container1 */
.container1{
  width: 100%;
  height: auto;
  background-image: url("../img/Group 185.png");
  background-position: 0px -19px;
  background-size: cover;
  padding-bottom: 60px;
}


/* overview */

.overview_title_sub{
  margin-top: 17.5px;
  margin-left: -10px;
}

.overview_title_sub:before, .overview_title_sub:after {
  border-top: 2px solid;
  content: "";
  width: 30px; /* 線の長さ */
}

.overview_title_sub:before {
  margin-right: 20px; /* 文字の右隣 */
}
.overview_title_sub:after {
  margin-left: 15px; /* 文字の左隣 */
}

.overview_text1{
  margin: 0;
  margin-top: 60px;
  margin-left: -2px;
  font-size: 22px!important;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;


}

.overview_text2{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px!important;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
}


/* イベント */

.event{
  margin: 0;
  margin-top: 152px;
  height: 100%;
}

.event_title_main{
  margin: 0;
  padding-top: 13px;
  margin-left: -9px;
}

.event_title_sub{
  margin-top: 19px;
  margin-left: -6px;
}

.event_title_sub:before, .event_title_sub:after {
  border-top: 2px solid;
  content: "";
  width: 30px; /* 線の長さ */
}

.event_title_sub:before {
  margin-right: 30px; /* 文字の右隣 */
}
.event_title_sub:after {
  margin-left: 35px; /* 文字の左隣 */
}


/* 表 */
.table_event_sp{
  display: none !important;
}

.table_event_pc{
  display: block !important;
  margin:0 auto;
  padding: 0;
  margin-top: 36px;
  font-size: 22px;
  max-width: 990px;
  border-collapse: collapse;
  padding-left: 0px;
  padding-right: 0px;
}

.border_bottom {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 14px;
}

.border_none {
  border: none;
}


.table_event_date p {
  margin-top: 24px;
  margin-bottom: 20px;
}

.table_event_date td {
  padding-top: 10px;
}

.table_event_place p {
  margin-top: 36px;
  margin-bottom: 20px;
}

.table_event_place td {
  padding-top: 34px;
  padding-bottom: 30px;
}

.table_event_place td>span {
  padding-left: 10px;
}

.table_event_content p {
  margin-top: 34px;
  margin-bottom: 47px;
}

.table_event_content td {
  padding-top: 18px;
}

.table_event_target p {
  margin-top: 35px;
  margin-bottom: 21px;
}

.table_event_target td {
  padding-top: 11px;
}

.table_event_access th {
  height: 0;
}

.table_event_access {
  vertical-align: top;
}

.table_event_access_p {
  margin-top: 34px;
  margin-bottom: 0px;
}

.table_event_access td {
  padding-top: 10px;
  width: 980px;
}




.table_heading{
  color: #FDD35C;
  width: 165px;
  height:51px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  
  border: 2px solid #FDD35C;
  border-radius: 30px;
}

.table_event_pc td{
  padding-left: 22px;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.table_event_pc ul{
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.table_event_pc li{
  position: relative;
  color: black;
  font-size: 14px;
  list-style:none;
  padding: 0;
  padding-left: 15px;
}

.list_style::before{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FDD35C;
  position: absolute;
  left: 2px;
  top: calc(0.75em - 3px);
}

.access_content{
  display:flex;
  padding-top: 31px;

}

.access_content ul{
  margin: 0;
  margin-top: 5px;
}

.access_content p{
  margin: 0;
  padding-top: 0px;
}

.access_content li>p{
  margin-top: 0px;
}

/* Google Mapのiframe */
.access_map_pc { 
  display: block !important; 
  margin-top: 31px;
  margin-left: 10px;
  width: 380px;
}

.access_map_pc iframe {
  margin-top: -28px;
  top: 0;
  left: 0;
  width: 100%;
}

.access_map_sp { display: none !important; }


/* contents */

.contents{
  margin-top: 0px;
  padding-top: 20px;
  background-color: #FFF6DE;
  height: 793px;
}

.contents_title_main{
  color: #FDD35C;
  padding-top: 2px;

}

.contents_title_sub{
  margin-top: -41.5px;
  margin-left: -11px;
}

.contents_title_sub:before, .contents_title_sub:after {
  border-top: 2px solid;
  content: "";
  width: 30px; /* 線の長さ */
}

.contents_title_sub:before {
  margin-right: 20px; /* 文字の右隣 */
}
.contents_title_sub:after {
  margin-left: 20px; /* 文字の左隣 */
}

.contents_item{
  display: flex;
  justify-content: space-between;

  margin: 0;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px;
}

.contents_item img{
  padding-left: 0px;
  padding-right: 0px;
}

.contents_btn{
  margin: 0;
  max-width: 423px;
  margin: 0 auto;
  margin-top: 53px;
}


/* pick_up */
.pick_up{
display: flex;
justify-content: center;
}

.pick_up_title_main{
  margin: 0;
  color: #FDD35C;
  margin-top: 53px;

}

.pick_up_title_sub{
  margin-top: 17.5px;
  margin-left: -11px;
}

.pick_up_title_sub:before, .pick_up_title_sub:after {
  border-top: 2px solid;
  content: "";
  width: 30px; /* 線の長さ */
}

.pick_up_title_sub:before {
  margin-right: 29px; /* 文字の右隣 */
}
.pick_up_title_sub:after {
  margin-left: 29px; /* 文字の左隣 */
}

.pick_up_background{
  width: 3.5%;
  height: auto;
  background-color: #FDD35C;
  


}

.pick_up_item{
  width: 93%;
  height: auto;
}

.pick_up_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

}

.pick_up_table_sp { display: none !important; }

.pick_up_table_pc { 
  display: block !important;
  margin: 0 auto;
  margin-top: 36px;
  max-width: 980px;
  margin-left: 197px;
  margin-right: 20px;
  margin-bottom: 28px;
}

.pick_up_table_pc p{
  margin: 0;
}

.pick_up_table_pc th{
  padding-left: 0px;
  max-width: 250px;
}

.pick_up_table_pc td{
  padding-left: 37px;
  max-width: 730px;
}

.pick_up_table_pc a{
  margin-top: -100px;
}



.pick_up_table_1 th{
  padding-left: 0px;
  padding-bottom: 0px;
}

.pick_up_table_1 td{
  padding-bottom: 0px;
}

.pick_up_table_1 td a{
  padding-left: 7px;
}

.pick_up_table_2 th{
  padding-top: 41px;
  padding-bottom: 0px;
}

.pick_up_table_2 td{
  padding-top: 22px;
  padding-bottom: 0px;
}

.pick_up_table_3 th{
  padding-top: 23px;
  padding-bottom: 0px;
}

.pick_up_table_3 td{
  padding-top: 15px;
  padding-bottom: 0px;
}

.pick_up_table_4 th{
  padding-top: 7px;
  padding-bottom: 0px;
}

.pick_up_table_4 td{
  padding-top: 15px;
  padding-bottom: 0px;
}

.pick_up_table_4 td img{
  padding-top: 4px;
}

.pick_up_table_5 th{
  padding-top: 33px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.pick_up_table_5 td{
  padding-top: 19px;
  padding-bottom: 0px;
}


/* About Exhibitors */
.exhibitors{
  max-width: auto !important;
  height: 701px;
  background-image: url("../img/Group 192.png");
  background-repeat: no-repeat;
  background-position: 0px -25px;
  position: relative;
  overflow-x: hidden;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  
}

.exhibitors_background{
  position: absolute;
  width: 1400px;
  height: 500px;
  background-image: url("../img/Group 192.png");
  background-position: 0px -25px;
}

  .exhibitors_title_main{
    margin: 0;
    padding-top: 25px;
    padding-right: 3px;
  }
  
  .exhibitors_title_sub{
    margin-top: 19px;
    margin-left: -13px;
  }
  
  .exhibitors_title_sub:before, .exhibitors_title_sub:after {
    border-top: 2px solid;
    content: "";
    width: 30px; /* 線の長さ */
  }
  
  .exhibitors_title_sub:before {
    margin-right: 50px; /* 文字の右隣 */
  }
  .exhibitors_title_sub:after {
    margin-left: 50px; /* 文字の左隣 */
  }


  .exhibitors_item_sp{
    margin: 0 auto;
    display: block !important; 
    display: grid !important; 

    grid-template-columns: 525px 450px;
    grid-row: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    flex-wrap: wrap;

    justify-items: start;
    /* justify-content: center; */

    margin         : auto;                 /* サンプル用 中央寄せ */
    margin-top: 93px;
    box-sizing     : border-box;           /* 罫線も含む長さ      */
    background     : #fff;                 /* BOXの背景色         */
    
    max-width          : 965px;                /* BOXの幅             */
    height     : auto;                /* BOXの高さ           */


    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #444545;
  }


.exhibitors_item_sp_item{
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  color: #444545;

  margin-right: 0px;
  margin-left: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.exhibitors_item_last{
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  color: #444545;

  margin: 0 auto;
  margin-top: 21px;
  text-align: center;
  padding-left: 150px;

  margin-bottom: 90px;

}


.exhibitors_item_last{

  margin: 0 auto;
  margin-top: 23px;
  text-align: center;
  padding-left: 680px;

  margin-bottom: 50px;


font-size: 20px;
font-weight: 500;
line-height: 36px;
color: #444545;

}

.br_onoff {
  display: none;
}


/* schedule */
.time_schedule{
  width: 100%;
  height: auto;
  background-image: url("../img/AdobeStock_302690198 1.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 161px;
}

  .time_schedule_title_main{
    margin: 0;
    padding-top: 90px;
    margin-left: 5px;
    color: #00A8F0;

  }
  
  .time_schedule_title_sub{
    margin-top: 20px;
    margin-left: 3px;
    color: #FFFFFF;

  }
  
  .time_schedule_title_sub:before, .time_schedule_title_sub:after {
    border-top: 2px solid;
    content: "";
    width: 30px; /* 線の長さ */
  }
  
  .time_schedule_title_sub:before {
    margin-right: 25px; /* 文字の右隣 */
  }
  .time_schedule_title_sub:after {
    margin-left: 25px; /* 文字の左隣 */
  }
  
  .time_schedule_item_sp{
    display: none !important;
  }

  .time_schedule_item_pc{
    display: block !important;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.time_schedule_item_guest{
  width: 300px;
  height: 254px;
  top: 4856px;
  left: 239px;
  gap: 0px;
  border-radius: 5px;
  background: #F1FBFF99;
  margin-bottom: 24px;
  margin-left: 0px;
}

.time_schedule_item_guest1{
  width: 300px;
  height: 254px;
  top: 4856px;
  left: 239px;
  gap: 0px;
  border-radius: 5px;
  background: #F1FBFF99;
  margin-bottom: 24px;
  margin-left: 0px;
}

.time_schedule_item_guest2{
  width: 300px;
  height: 192px;
  top: 4856px;
  left: 239px;
  gap: 0px;
  border-radius: 5px;
  background: #F1FBFF99;
  margin-bottom: 24px;
  margin-left: 0px;
}

.time_schedule_item_guest3{
  width: 300px;
  height: 254px;
  top: 4856px;
  left: 239px;
  gap: 0px;
  border-radius: 5px;
  background: #F1FBFF99;
  margin-bottom: 24px;
  margin-left: 0px;
}

.time_schedule_item_time{
  margin-top: 7px;
  margin-left: -5px;
  padding-top: 12px;
  padding-left: 6px;
  font-size: 16px;
  font-weight: 700;
  width: 88px;
  height: 50px;
  line-height: 0px;
  letter-spacing: 0.08em;
  background-image: url("../img/Group 219.png");
  background-repeat: no-repeat;
}

.time_schedule_item_MC{
  margin-top: 7px;
  margin-left: -5px;
  padding-top: 14px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  width: 88px;
  height: 50px;
  line-height: 0px;
  letter-spacing: 0.08em;
  background-image: url("../img/Group 219.png");
  background-repeat: no-repeat;
}

.time_schedule_item_guest img{
  margin-top: -67px;
  margin-left: 83px;
}

.time_schedule_item_guest1 img{
  margin-top: -42px;
  margin-left: -2px;
}

.time_schedule_item_guest2 img{
  margin-top: -46px;
  margin-left: 26px;
}

.time_schedule_item_guest3 img{
  margin-top: -52px;
  margin-left: 26px;
}

.time_schedule_item_text1{
  margin: 0;
  margin-top: 33px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.time_schedule_item_text2{
  margin: 0;
  margin-top: 19px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  width: 270px;
  line-height: 25px;
  letter-spacing: 0.08em;
}

.time_schedule_item_text3{
  margin: 0;
  margin-top: 7px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  width: 266px;
  line-height: 25px;
  letter-spacing: 0.08em;
}

.time_schedule_item_guest p>span{
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.24em;
}

.readmore button{
  display: none;
}


/* faq */
.faq{
  max-width: auto;
  height: 700px;
  position: relative;
  overflow-x: hidden;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);


}

.faq_background1{
  position: absolute;
  width: 320px;
  height: 280px;
  background-image: url("../img/Group 192.png");
  background-repeat: no-repeat;
  background-position: -1100px -25px;
  margin-left: 1100px;
}

.faq_background2{
  position: absolute;
  width: 1440px;
  height: 500px;
  background-image: url("../img/Polygon 5.png");
  background-repeat: no-repeat;
  background-position: 0px 300px;
  margin-top: 63px;
}

  .faq_title_main{
    margin: 0;
    padding: 0px;
    color: #FDD35C;
    padding-top: 100px;
  }
  
  .faq_title_sub{
    margin-top: 19px;
    margin-left: 0px;
  }
  
  .faq_title_sub:before, .faq_title_sub:after {
    border-top: 2px solid;
    content: "";
    width: 30px; /* 線の長さ */
  }
  
  .faq_title_sub:before {
    margin-right: 20px; /* 文字の右隣 */
  }
  .faq_title_sub:after {
    margin-left: 20px; /* 文字の左隣 */
  }
  

.faq_item{
  margin: 0 auto;
  margin-top: 73px;

}

.faq_item_000{
  margin: 0 auto;
  max-width: 740px;
}


.faq_ul {
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  counter-reset:list;
  padding:0;
  margin: 0;
}

.faq_ul li{
  position:relative;
  padding-left:35px;
  font-weight: bold;
  line-height: 29px;
}

.faq_ul_1{
  margin-bottom: 46px;
}

.faq_ul_1 li{
  margin-bottom: 21px;
}

.faq_ul_2{
  margin-bottom: 48px;
}

.faq_ul_2 li{
  margin-bottom: 20px;
}

.faq_ul_3{
  margin-bottom: 48px;
}

.faq_ul_3 li{
  margin-bottom: 22px;
  text-decoration: none;
}

/* .faq_ul_3 li a{
  color: black;
  text-decoration: none;
} */

.faq_ul li::before{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  left: -10px;
  width: 33px;
  height: 33px;
  text-align: center;
  color: #fff;
  line-height:30px;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.faq_ul_Q::before{
  content: "Q" ;
  background: #00A8F0;
}

.faq_ul_A::before{
  content: "A" ;
  background: #FDD35C;
}











/*フッター*/
footer {
  margin-top: 54px;
  width: 100%;
  height: 279px;
  color:white;
  text-align: center;
  padding: 5px 0;
  background-color: #333333;
}

footer button{
  color:white;
  font-size: 22px;
  font-weight: 700;
  padding-left: 2px;
  line-height: 5px;
  background: #333333;

  margin-top: 52px;
  width: 305px;
  height: 54px;
  gap: 0px;
  border-radius: 50px;
  border: 1.63px;
  border: 1.63px solid #FFFFFF
}

footer hr{
  margin-top: 47px;
  max-width: 1188px;
  margin-left: 126px;
  margin-right: 126px;
}

.footer_text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: -2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  max-width: 100%;
}

.footer_logo{

  margin-left: 10px;
  margin-right: 43px;
}


.footer2{
  display: none !important;
}


@media screen and (max-width:1439px) {
  .kv{
  background-position: 0px -1px;
  }

}

@media screen and (max-width:1060px) {
  .exhibitors_item_sp{
    grid-template-columns: 425px 350px;
    max-width          : 800px;                /* BOXの幅             */

  }


.exhibitors_item_sp_item{
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  color: #444545;

  margin-right: 0px;
  margin-left: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.exhibitors_item_last{
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  color: #444545;

  margin: 0 auto;
  margin-top: 21px;
  text-align: center;
  padding-left: 150px;

  margin-bottom: 90px;

}


.exhibitors_item_last{

  margin: 0 auto;
  margin-top: 23px;
  text-align: center;
  padding-left: 300px;

  margin-bottom: 50px;


font-size: 15px;
font-weight: 500;
line-height: 36px;
color: #444545;

}




}


@media screen and (max-width:950px) {
  .contents_item img{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 350px;
  }
}


@media screen and (max-width:850px) {
  .exhibitors_item_sp{
    grid-template-columns: 350px 320px;
    max-width          : 680px;                /* BOXの幅             */

  }


.exhibitors_item_sp_item{
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  color: #444545;

  margin-right: 0px;
  margin-left: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.exhibitors_item_last{
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  color: #444545;

  margin: 0 auto;
  margin-top: 21px;
  text-align: center;
  padding-left: 150px;

  margin-bottom: 90px;

}


.exhibitors_item_last{

  margin: 0 auto;
  margin-top: 23px;
  text-align: center;
  padding-left: 300px;

  margin-bottom: 50px;


font-size: 15px;
font-weight: 500;
line-height: 36px;
color: #444545;

}


.faq_item_000{
  margin: 0 auto;
  max-width: 600px;
}

}


@media screen and (max-width:750px) {
  .contents_item img{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
  }

}


@media screen and (max-width:700px) {
  
  /*追従ボタン*/
  .fix-btn_pc{
    display: none !important;
  }

  .fix-btn_sp{
    display: block !important;
    position:fixed;
    z-index:9999;
    top:91.5%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:transparent!important;
  }

  
  .sp_none{
    display: none !important;
  }


   /* ヘッダー */
  .kv{
    width: 100%;
    height: 462px;
    background-image: url("../img/Group 184.png");
    background-position: center;
    background-size: cover;
  }
  
  .header_logo{
    margin-left: 12px;
    padding-top: 13px;
  }

  .header_logo a img{
    width: 76.6px;
  }

  .header_title{
    padding-top: 22px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
  
  .header_img{
    display: none !important;
  }

  .header_img_main{
    display: block !important;
    padding-top: 11px;
    max-width: 302px;
    margin:0 auto;
  }
  
  .header_img_sub{
    display: block !important;
    width: 257px;
    padding-top: 10px;
    padding-right: 1px;
    margin:0 auto;
  }
  
  .header_time{
    margin-left: 0px;
    padding-top: 16px;

    font-size: 24.95px;
    font-style: italic;
    font-weight: 700;
    line-height: 24.95px;
  }
  
  .week{
    margin-left: 0px;
    font-size: 18.15px;
    font-style: italic;
    font-weight: 700;
    line-height: 18.15px;
    text-align: left;
    
  }
  
  .time{
    margin-left: 0px;
    font-size: 23.59px;
    font-style: italic;
    font-weight: 700;
    line-height: 23.59px;


  }
  
  .header_place{
    padding-top: 9px;
    font-size: 15.88px;
    font-weight: 700;
    line-height: 15.88px;

  }
  
  .header_place span{
    font-size: 8px;
  }
  
  .header_btn{
    display: none !important;
  }
  
    
  /* タイトル */
  .title_main{
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;

  }
  
  /* サブタイトル */
  .title_sub{
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;

  }
  
  
  /* container1 */
  .container1{
    width: 100%;
    height: 100%;
    background-image: url("");
  }
  
  
  /* overview */

  .overview{
    width: 100%;
    height: 100%;
    background-image: url("../img/Group 186.svg");
    background-position: 0px -27px;
    background-size: cover;
  }

  .overview_title_main{
    margin: 0;
    padding-top: 30px;
    margin-left: -4px;
  }

  .overview_title_sub{
    margin-top: 12px;
    margin-left: 1px;
  }
  
  .overview_title_sub:before, .overview_title_sub:after {
    border-top: 0.67px solid #444545;
    content: "";
    width: 20px; /* 線の長さ */
  }
  
  .overview_title_sub:before {
    margin-right: 13px; /* 文字の右隣 */
  }
  .overview_title_sub:after {
    margin-left: 13px; /* 文字の左隣 */
  }
  
  .overview_text1{
    display: none !important;
  }
  
  .overview_text2{
    margin: 0 auto;
    margin-top: 27px;
    padding-right: 0px;
    padding-left: 0px;
    width: 295px;
    font-size: 16px!important;
    font-weight: 500;
    line-height: 37px;

  }
  
  
  /* イベント */
    .event{
    margin: 0;
  }
  
  .event_title_main{
    margin: 0;
    padding-top: 17px;
    padding-right: 4px;
  }
  
  .event_title_sub{
    margin-top: 11px;
    padding-left: 2px;
  }
  
  .event_title_sub:before, .event_title_sub:after {
    border-top: 0.69px solid #444545;
    content: "";
    width: 20px; /* 線の長さ */
  }
  
  .event_title_sub:before {
    margin-right:20px; /* 文字の右隣 */
  }
  .event_title_sub:after {
    margin-left: 16px; /* 文字の左隣 */
  }
  
  
  /* 表 */
  .table_event_pc{
    display: none !important;
  }

  .table_event_sp{
    display: block !important;
    margin:0 auto;
    padding: 0;

    margin-top: 6px;
    max-width: 350px;
    text-align: center;

    border-collapse: collapse;
  }
  
  .border_bottom {
    border-bottom: 0.69px solid #C4C4C4;
    padding-bottom: 0px;
  }

  .table_event_sp th{
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }

  .table_event_sp p{
    padding: 0px;
    margin: 0px;
    
  }

  .table_event_sp td{
    font-size: 14px;
    font-weight: 700;
    line-height: 31.18px;
    text-align: left;
    padding-left: 18px;
    padding-bottom: 0px;
  }
  
  .table_event_date p {
    margin-top: -7px;
  }

  .table_event_date td {
    padding-top: 20px;
    padding-left: 20px!important;
    padding-bottom: 5px;
  }
  
  .table_event_place p {
    margin-top: -3px;
    }
  
  .table_event_place td {
    padding-top: 9px;
    padding-left: 20px!important;
    padding-bottom: 10px;
  }
  
  .table_event_content p {
    margin-top: -17px;
    margin-bottom: 0px;
  }

  
  .table_event_content td {
    padding-top: 10px;
    line-height: 22px;
    padding-left: 20px!important;
    padding-bottom: 10px;
  }
  
  .table_event_target p {
    margin-top: -23px;
    margin-bottom: 0px;
  }
  
  .table_event_target td {
    padding-top: 10px;
    line-height: 29px;
    padding-left: 20px!important;
    padding-bottom: 5px;
  }
  
.station{
  margin-top: -10px;
  margin-left: 1px;
}

.station li{
  line-height: 20px!important;
}

  .table_event_access_p {
    margin-top: 10px!important;
    margin-bottom: 0px;
  }
  
  .table_event_access td {
    padding: 0px;
    width: 980px;
  }

  .table_heading{
    font-weight: 700;
    display: flex;
    width: 103px;
    height: 27px;
    border-radius: 17.1px;
    border: 1.24px;

    font-size: 15px;
    font-weight: 700;
    line-height: 24.808px;
    text-align: center;
    margin-left: 1px !important;


    border: 1.24px solid #FDD35C
  }
  
  .table_event_sp td{
    width: 224px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  
  .table_event_sp ul{
    margin: 0;
    padding: 0;
    margin-top: 35px;
  }
  
  .table_event_sp li{
    position: relative;
    color: black;
    font-size: 14px;
    list-style:none;
    padding: 0;
    padding-left: 15px;

    font-size: 14px;
    font-weight: 700;
    line-height: 31.18px;

  }
  
  .list_style::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FDD35C;
    position: absolute;
    left: 2px;
    top: calc(0.75em - 3px);
  }
  
  .access_content{
    display:flex;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .access_content ul{
    margin: 0;
    margin-top: 7px;
    margin-left: 4px;
  }
  
  .access_content p{
    margin: 0;
    padding-top: 10px;
    padding-left: 14px;
  }
  
  .access_content li{
    margin-top: 0px;
  }

  .access_content li>p{
    margin-top: 0px;
  }
  
  /* Google Mapのiframe */

  .access_map_pc { display: none !important; }

  .access_map_sp { 
    display: block !important; 
    margin: 0 auto;
    margin-top: 25px;
    width: 345px;
    margin-bottom: 33px;
    
  }

  .access_map_sp iframe {
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  /* contents */
  
  .contents{

    display:flex;
    flex-flow: column;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #FFF6DE;
    height: 778px;
  }
  
  .contents_title_main{
    color: #FDD35C;
    margin-top: 39px
  }
  
  .contents_title_sub{
    margin-top: -14px;
    margin-left: 0px;
  }
  
  .contents_title_sub:before, .contents_title_sub:after {
    border-top: 0.67px solid #444545;
    content: "";
    width: 20px; /* 線の長さ */
  }
  
  .contents_title_sub:before {
    margin-right: 30px; /* 文字の右隣 */
  }
  .contents_title_sub:after {
    margin-left: 30px; /* 文字の左隣 */
  }
  
  .contents_item{
    display: inline;
    justify-content: center;
  
    margin: 0;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 24px;
  }
  

  .contents_item_img162{
    padding-bottom: 23px;
  }

  .contents_item img{
    max-width: 336px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .contents_btn{
    display: none !important;
  }
  
  
  /* pick_up */


  .pick_up_table_pc { display: none !important; }

  .pick_up_table_sp { 
    display: block !important; 
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
    width: 345px;
  }

  .pick_up_table_sp p{ 
    margin: 0;
    margin-top: 7px;
    margin-left: 4px;
    margin-bottom: 26px;

    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }

  .pick_up_table_sp_pe p{ 
    margin: 0;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 39px;
  }

  .pick_up_table_sp_boc p{ 
    margin: 0;
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 18px;
  }

  .pick_up_table_sp_creava{ 
    margin-bottom: 50px;

    
  }

  .pick_up_table_sp_creava p{ 
    margin: 0;
    margin-top: -7px;
    margin-left: 2px;
    margin-bottom: 5px;
  }

  .pick_up_table_sp_creava a{ 
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;

    
  }

  .pick_up_table_sp_creava_img{ 
    margin-left: -4px;
    margin-top: 3px;

    
  }

  .pick_up{
    height: auto;
  }

  .pick_up_title_main{
    margin: 0;
    color: #FDD35C;
    margin-top: 39px;
    margin-left: 16px;  
  }


  .pick_up_title_sub{
    margin-top: 10px;
    margin-left: 14px;
  }
  
  .pick_up_title_sub:before, .pick_up_title_sub:after {
    border-top: 0.67px solid #444545;
    content: "";
    width: 20px; /* 線の長さ */
  }
  
  .pick_up_title_sub:before {
    margin-right: 40px; /* 文字の右隣 */
  }
  .pick_up_title_sub:after {
    margin-left: 37px; /* 文字の左隣 */
  }

  .pick_up_background{
    width: 35px;
    height: auto;
    background-color: #FDD35C;
    ;
  }

  footer {
    margin-top: 0px;
    width: 100%;
    height: 145px;
    color:white;
    text-align: center;
    padding: 5px 0;
    background-color: #333333;
  }




  /* About Exhibitors */
  .exhibitors{

    max-width: 700px;
    height: auto;
    background-image: url("../img/Group 193.svg");
    background-repeat: no-repeat;
    background-position: 0px 22px;

    background-size: contain;

  }
  
  .exhibitors_background{
    display: none !important; 
  }
  
    .exhibitors_title_main{
      margin: 0;
      padding: 0px;
      margin-top: 40px;
    }
    
    .exhibitors_title_sub{
      margin-top: 11px;
      margin-left: 0px;
    }
    
    .exhibitors_title_sub:before, .exhibitors_title_sub:after {
      border-top:0.67px solid #444545;
      content: "";
      width: 20px; /* 線の長さ */
    }
    
    .exhibitors_title_sub:before {
      margin-right: 13px; /* 文字の右隣 */
    }
    .exhibitors_title_sub:after {
      margin-left: 10px; /* 文字の左隣 */
    }
    
    .exhibitors_item_pc{
      display: none !important; 
    }

    .exhibitors_item_sp{
      margin: 0 auto;
      display: block !important; 
      display: grid !important; 

      grid-template-columns: 160px 22px;
      grid-row: auto auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      flex-wrap: wrap;

      margin         : auto;                 /* サンプル用 中央寄せ */
      margin-top: 34px;
      box-sizing     : border-box;           /* 罫線も含む長さ      */
      background     : #fff;                 /* BOXの背景色         */
      
      width          : 285px;                /* BOXの幅             */
      height     : auto;                /* BOXの高さ           */

    }
  
  
  .exhibitors_item_sp_item{
    margin: 0 auto;
    font-size: 10.5px;
    width: 160px;
    height: 38px;
    margin-right: 0px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 12px;
    
  }

  .exhibitors_item_last{
    font-size: 12px;

    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding-left: 150px;

    margin-bottom: 90px;

  }

  .br_onoff {
    display: block;
  }





  
  /* schedule */
  .time_schedule{
    width: 100%;
    height: auto;
    background-image: url("../img/AdobeStock_302690198 1.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 54px;
  }
  
    .time_schedule_title_main{
      margin: 0;
      padding-top: 41px;
      margin-left: 0px;
      color: #00A8F0;
  
    }
    
    .time_schedule_title_sub{
      margin-top: 11px;
      margin-left: 0px;
      color: #FFFFFF;
  
    }
    
    .time_schedule_title_sub:before, .time_schedule_title_sub:after {
      border-top: 0.67px solid #FFF;
      content: "";
      width: 20px; /* 線の長さ */
    }
    
    .time_schedule_title_sub:before {
      margin-right: 15px; /* 文字の右隣 */
    }
    .time_schedule_title_sub:after {
      margin-left: 16px; /* 文字の左隣 */
    }
    
    .time_schedule_item_pc{
      display: none !important;
    }

      .time_schedule_item_sp{
      display: block !important;
      margin: 0 auto;
      margin-top: 34px;
      max-width: 960px;
      display:flex !important;
      align-content: center;
      flex-direction:column;
      justify-content:center;
      flex-wrap: wrap
    }
    



  .time_schedule_item_guest{

    width: 354px;
    height: 103px;
    top: 125px;
    left: 18px;
    gap: 0px;
    border-radius: 4.62px;
    background: #F1FBFF99;
    
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .time_schedule_item_guest1{
    width: 354px;
    height: 103px;
    top: 125px;
    left: 18px;
    gap: 0px;
    border-radius: 4.62px;
    background: #F1FBFF99;
    
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .time_schedule_item_guest2{
    width: 354px;
    height: 103px;
    top: 125px;
    left: 18px;
    gap: 0px;
    border-radius: 4.62px;
    background: #F1FBFF99;
    
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .time_schedule_item_guest3{
    width: 354px;
    height: 103px;
    top: 125px;
    left: 18px;
    gap: 0px;
    border-radius: 4.62px;
    background: #F1FBFF99;
    
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .time_schedule_item_time{
    margin-top: 6px;
    margin-left: -3px;
    padding-top: 12px;
    padding-left: 6px;

    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;

    width: 83px;
    height: 29.75px;
    line-height: 0px;
    letter-spacing: 0.1em;
    background-image: url("../img/Vector 18.svg");
    background-repeat: no-repeat;
  }
  
  .time_schedule_item_MC{
    margin-top: 6px;
    margin-left: -3px;
    padding-top: 12px;
    padding-left: 28px;

    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;

    width: 83px;
    height: 29.75px;
    line-height: 0px;
    letter-spacing: 0.1em;
    background-image: url("../img/Vector 18.svg");
    background-repeat: no-repeat;
  }

  .time_schedule_item_img_2{
    width: 161px;
  }

  .time_schedule_item_img_3{
    width: 195.09px;
  }

  .time_schedule_item_img_MC{
    width: 172.83px;
  }

  
  .time_schedule_item_guest img{
    width: 87.11px;
    margin-top: -55px;
    margin-left: 252px;
  }
  
  .time_schedule_item_guest1 img{
    margin-top: -42px;
    margin-left: -2px;
  }
  
  .time_schedule_item_guest2 img{
    margin-top: -460px;
    margin-left: 100px;
  }
  
  .time_schedule_item_guest3 img{
    margin-top: -52px;
    margin-left: 188px;
  }

  .time_schedule_item_img_3{
    margin-top: -52px;
    margin-left: 150px !important;
  }

  .time_schedule_item_img_MC{
    margin-top: -57px !important;
    margin-left: 188px;
  }
  
  .time_schedule_item_text1{
    margin: 0;
    margin-top: -50px;
    margin-left: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;

  }
  
  .time_schedule_item_text2{
    margin: 0;
    margin-top: -53px;
    margin-left: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
  }
  
  .time_schedule_item_text3{
    margin: 0;
    margin-top: -60px;
    margin-left: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
  }
  
  .time_schedule_item_guest p>span{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.24em;
  }
  
  
/* アコーディオン */
  .readmore {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 30px;
  }
  
  .readmore-content {
    position: relative;
    height: 370px;
    transition: all .4s;
    overflow: hidden;
  }
  
  .readmore-content::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    transition: all .4s;
    background: linear-gradient( rgba(167, 167, 167, 0) 0%, rgba(119, 119, 119, 0.8) 50%, #353535 100% );
  }
  
  .readmore-content.is_open:before{
    display: none;
  }
  
  .readmore button{
    position: absolute;
    display: table!important;
    left: 50%;
    bottom: 0px;
    margin: 0 auto;

    width: 115px;
    height: 26px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
    transition: all .4s;

    border: 1px solid #FFFFFF;

    
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    text-align: center;

  }


































  /* faq */
  .faq{

    max-width: 390px;
    height: 430px;
    position: relative;
    overflow-x: hidden;
    padding-right: 10px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  
  
  }
  
  .faq_background1{
    display: none !important;
  }
  
  .faq_background2{
    display: none !important;
  }
  
    .faq_title_main{
      margin: 0;
      padding: 0px;
      color: #FDD35C;
      padding-top: 28px;
    }
    
    .faq_title_sub{
      margin-top: 12px;
      margin-left: 0px;
    }
    
    .faq_title_sub:before, .faq_title_sub:after {
      border-top: 0.67px solid #444545;
      content: "";
      width: 20px; /* 線の長さ */
    }
    
    .faq_title_sub:before {
      margin-right: 30px; /* 文字の右隣 */
    }
    .faq_title_sub:after {
      margin-left: 30px; /* 文字の左隣 */
    }
    
  
  .faq_item{
    margin-top: 25px;
    margin-left: 51px;
  }
  
  .faq_ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    counter-reset:list;
    padding:0;
    margin: 0;

  }
  
  .faq_ul li{
    position:relative;
    padding-left:25px;
    font-weight: bold;
    line-height: 29px;
  }

  .faq_ul_Q{
    padding-bottom: 1px;
  }
  
  .faq_ul_A{
    padding-bottom: 1px;
  }
  
  .faq_ul_1{
    margin-bottom: 28px;
  }
  
  .faq_ul_1 li{
    margin-bottom: 9px;
  }
  
  .faq_ul_2{
    margin-bottom: 28px;
  }
  
  .faq_ul_2 li{
    margin-bottom: 9px;
  }
  
  .faq_ul_3{
    margin-bottom: 28px;
  }
  
  .faq_ul_3 li{
    margin-bottom: 9px;
    text-decoration: none;
  }
    
  .faq_ul li::before{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 14.27px;
    font-weight: 500;
    line-height: 27px;
    left: -10px;
    width: 26.16px;
    height: 26.16px;
    text-align: center;
    color: #fff;
    line-height:27px;
    border-radius: 50%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
  }
  

  
  
  /*フッター*/
  footer {
    margin-top: 54px;
    width: 100%;
    height: 145px;
    color:white;
    text-align: center;
    padding: 5px 0;
    background-color: #333333;
  }
  
  footer button{
    padding-left: 1px;

    font-size: 16px;
    line-height: 23.17px;
    font-weight: 700;
    margin-top: 21px;

    width: 250px;
    height: 36.36px;


  }
  
  footer hr{
    margin-top: 17px;
    max-width: 296.5px;
    margin-left: 46.75px;
    margin-right: 46.75px;
  }
  
  .footer_text{
    font-size: 9.12px;
    font-weight: 500;
    line-height: 13.02px;
    padding-left: 0px;
    margin-top: 13px;
    margin-left: -3px;
  }
  
  .footer_text p{
    margin: 0px;
    margin-top: 12px;
  }

  .footer_logo{
    margin-left: 8px;
    margin-right: 17px;
  }

  .footer_logo img{
    width: 115px;

  }

  .footer2{
    display: block !important;
    width: 100%;
    height: 130px;
  }


}







@media screen and (max-width:1250px) {
  .pick_up_table_pc { 
    margin: 0 auto;
    margin-top: 36px;
    max-width: 980px;
    margin-right: 20px;
    margin-bottom: 28px;
  }

}






@media screen and (max-width:375px) {

  .fix-btn_sp{

    top:89%;

  }

  footer {
    margin-top: 0px;
    width: 100%;
    height: 145px;
    color:white;
    text-align: center;
    padding: 5px 0;
    background-color: #333333;
  }
}


@media screen and (max-width:450px) {


  .exhibitors_item_sp_item{
    margin: 0 auto;
    font-size: 8px;
    width: 160px;
    height: 38px;
    margin-right: 0px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 12px;
    
  }




}



@media screen and (max-width:374px) {

  .pick_up_table_sp { 

    width: 320px;

  }




}



@media screen and (max-width:959px) {

  .time_schedule_item_pc {
    max-width: 650px;
}




}







@media screen and (max-width:1440px) {

  .container1{
    width: 100%;
    height: auto;
    background-image: url("../img/Group 185.png");
    background-position: 0px -19px;
    background-size:contain;               /* 画像のサイズを指定    */
    background-repeat:  no-repeat;         /* 画像の繰り返しを指定  */  
    width:100%;                            /* 横幅のサイズを指定    */
    height:auto;                          /* 縦幅のサイズを指定    */
  }




}







